.input {
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid black;
}

.inputButton {
  background: rgb(45, 48, 245);
  border: none;
  padding: 5px 40px;
  color: white;
  border: 2px solid rgba(17, 3, 82, 0.601);
  border-radius: 20px;
  margin-left: 10px;
}

.inputButton:hover {
  background-color: rgba(134, 133, 133, 0.601);
  color: white;
}

.appDesc {
  font-style: italic;
}
